#helpContainer {
    background-color: #fffafa;
}

#maugif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#contactContainer {
    background-color: #fffafa;
}

