html,
body {
  background: lightgoldenrodyellow;
  box-sizing: border-box;
}

.container {
  /* border: 1px solid yellowgreen; */
  width: 80vw !important;
  height: 1000px !important;
}

.my-flex-container {
  /* border: 2px solid red; */
  height: 22vh;
}

/* Styling for the cards */
.exampleCard,
.my-flex-item {
  margin: 10px 10px !important;
  max-width: 255px;
  max-height: 255px;
  min-width: 127px;
  min-height: 180px;
  width: auto;
  height: auto;
  background: orange;
  margin: 0em 1em 0em 1em;
  -webkit-box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36);
  box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36);
  border-radius: 7%;
}

.backgroundCard {
  background-image: url("/img/coverBackground.png");
  height: auto;
}

/* Styling for the draw pile and deck  */

#discarded,
#deck {
  min-height: 180px;

}

/* styling for the mau mau button */
#mau {
  margin: 0 10px;
}

/* This is the background for dealt cards */
.styleImage {
  background-image: no-repeat center center fixed;
  background-size: 100% 100%;
  text-align: center;
  line-height: 750%;
  color: rgb(0, 38, 255);
  z-index: 100;

}

/* experimenting with putting a cover over the cards when it is not the player's turn */

.cover-card {
  height: auto !important;
  background-image: url("/img/coverBackground.png");
  z-index: 40;
  margin: 10px 20px;
  -webkit-box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36);
  box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36);
}

.flexBackgroundCard {
  height: auto;
  background-image: url("/img/coverBackground.png");
  z-index: 1000;
  min-height: 180px !important;
  /* -webkit-box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36);
  box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36); */
}


/* hover over the card effect */

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }

  100% {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.1);
  }
}

.playable:hover {
  /* -webkit-box-shadow: 0px 0px 30px 10px #f0de92;
  -moz-box-shadow: 0px 0px 30px 10px #f0de92;
  box-shadow: 0px 0px 30px 10px #f0de92; */
  animation: shadow-pulse 1s infinite;
}




/* card back styling when not the player's turn and also deck background*/
.hideStyle {
  background-image: url(../img/cardbackvintage.jpg) !important;
  background-image: no-repeat center center fixed;
  background-size: 100% 100%;
}

/* covered class no longer in use */

/* .covered {
  position: relative;
  z-index: 1000;
  background: #000;
  margin: 10px;
} */