body {
  background: lightgoldenrodyellow;
}

.container {
  width: 80vw !important;
  height: 1000px;
}
.my-flex-container {
  height: 25vh;
}

.my-flex-container-top {
  height: auto;
}

.my-flex-column {
}

.exampleCard {
  width: 150px;
  margin: 0 10px 0 10px;
  background: orange;
}

.my-flex-item {
  width: 150px;
  margin: 0 10px 0 10px;
  background: orange;
}

.my-flex-item2 {
}

.my-flex-item3 {
}

#deckContainer {
  margin: 20px 0;
}

.color {
  background-color: red;
}
