html,
body {
  background: lightgoldenrodyellow;
  box-sizing: border-box;
}

.container {
  border: 1px solid yellowgreen;
  width: 80vw !important;
  height: 1000px !important;
}

.my-flex-container {
  border: 2px solid red;
  height: 22vh;
}

.my-flex-container-top {
  border: 2px solid red;
  height: auto;
}

.my-flex-column {
  border: 2px solid blue;
}

.exampleCard,
.my-flex-item {
  /* border: 2px solid orange; */
  min-width: 100px;
  min-height: auto;
  margin: 0 10px 0 10px;
  background: orange;
  -webkit-box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36);
  box-shadow: 14px -1px 23px -14px rgba(0, 0, 0, 0.36);
  border-radius: 7%;
}

/* .my-flex-item {
  border: 2px solid orange;
  width: 150px;
  margin: 0 10px 0 10px;
  background: orange;
} */

/* .my-flex-item2 {
  border: 2px solid orange;
}

.my-flex-item3 {
  border: 2px solid orange;
} */

#discarded,
#deck {
  min-height: 100%;
}

#mau,
#maumau {
  margin: 0 10px;
}

.styleImage {
  background-image: no-repeat center center fixed;
  background-size: 100%;
  text-align: center;
  line-height: 750%;
  color: rgb(0, 38, 255);
}

#card-cover {
  background: #000 !important;
}